img{
    height: 5%;
}

.container-sm{
    margin-top: 72px;
}
#navbar #footer{
    background-color: rgb(238, 230, 230);
}

/* #ig #wave{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    font-size: 80px;
} */
#copy{
    margin:auto;
}
